@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


  /* GENERAL */

*
{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body
{
  display: block;
  margin: 0px;
}
.flex-container {
  background-color: #1f2937;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
}


/* NAVBAR */
.item 
{
  margin: 5px 5px 100px 5px;
  padding: 0.5em;
  min-width: 0;
  background-color:#1f2937;
  color: white;
}
.logo 
{
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}
.links 
{
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 3;
  position: relative;
}
.navbar
{
  background-color: #1f2937;
}
.navbar a
{
  margin-left: 2em;
  text-decoration: none;
  color: #F9FAF8;
}
.navbar a:hover
{
  color: #d74c06;
}

/* HERO */
h1
{
font-size: 40px;
font-weight: 900;
}
.hero
{
  min-width: 50%;
}
.herop
{
  color: #e5e7eb;
  font-size: 18px;
}
.heroimg
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
  background-color: #d996aa;
  border-radius: 20px;
}
.button
{
  color: #ffffff;
  background-color: #3882F6;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
}
.button:hover
{
  color: #1f2937;
  background-color:#fff;
}

/*RANDOM*/
.section-random
{
  margin-top: 100px;
}
h2
{
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}
.flex-container-white {
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
}
.item-white
{
  display: flex;
  flex-direction: column;
  margin: 5px 5px 100px 5px;
  padding: 0.5em;
  min-width: 0;
  background-color:#ffffff;
  color: #1F2937;
}
.square
{
  margin: auto;
  border: 3px solid #3882F6;
  border-radius: 5px;
  background-color: #d996aa;
  width: 200px;
  height: 200px;
}
.text
{
  text-align: center;
}

/*Testimonials*/
.flex-container-grey {
  background-color: #e5e7eb;
  text-align:center;
  font-size: 33px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 33px;
  display: flex;
}
.author
{
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}
/*CTA*/
.flex-container-white-new
{
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: center;
}
.bluebg
{
  background-color: #3882F6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 40px 0px;
}
.item-new
{
  margin: 5px;
  padding: 0.5em;
  min-width: 0;
  color: white;
}
.cta
{
  border: 1px white solid;
  border-radius: 10px;
}

/* Copyright */
.flex-container-cpy {
  background-color: #1f2937;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: center;
}
.copy
{
  color: white;
  text-align: center;
  padding: 30px 0px;
}